@import "../../App.css";




.testimonal-card{

    background:var(--mainLightwhite);
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    width: 442px;
    height: 222px;
    margin-bottom: 30px;
    


    

}





.testimonal-card .content{

    width: 442px;
    height: 102px;
    background:var(--mainPurple);
    border-radius: 24px;
    padding: 24px 50px;
   

    

}
.testimonal-card p{

    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    color:var(--mainLightwhite);
 


}

.testimonal-card .name{
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color:var(--mainDarkGreen);
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;

}

.testimonal-card .job{

    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color:var(--mainDarkGreen);
    padding-left: 10px;
    padding-top: 20px;
}

.testimonal-card .bgcolor{

    background-color:var(--mainOrange);
   

   

}

.margincomponent{


margin-left: 45px;



}


